html{ font-family:'Maven Pro', sans-serif;}
body{
  margin:-1em 0;
  padding: 0;
  background-color:white;
/*the overflow thing???*/
}

#paris {
    font-size: 10pt;
    pointer-events:none;
    cursor: default;
    position:absolute;
    z-index:10;
    opacity:0;
    overflow:visble;
    width:auto;
    max-width: 300px;
    padding:2px;
    background-color:white;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
    border-radius: 3px;
     -moz-box-shadow: 3px 3px 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 1px 2px rgba(0,0,0,0.5);
      box-shadow: 3px 3px 1px 2px rgba(0,0,0,0.5);
  }


#title{
  margin: 0 0;
  font-size:50px;
  color:white;
  text-align:left;
  padding-left: 3%;
  padding-top:5px;
}

#map {
  margin:0 0;
	width:100% ;
  height:1024px;
	display:inline-block ;
}
.ui-opacity {
  margin-top:150px;
  background:#FFF;
  position:absolute;
  left:10px;
  top:70px;
  height:200px;
  width:28px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  z-index:1000;
  }

.ui-opacity .handle {
  position:absolute;
  background:#404040;
  left:0;
  top:20px;
  width:26px;
  height:10px;
  border-radius:1px;
  cursor:pointer;
  cursor:ns-resize;
  }
  .ui-opacity .handle:hover {
    background:#303030;
    }
/*#paris{
  padding-top:100px;
}*/
.leaflet-popup-content-wrapper {
  color:black;
  font-family: sans-serif;
 }
 
.homestyle1 a{
  text-decoration:none;
  color:white;
  font-weight:bold;
  background-color:#657C81;
  /* border-radius:5px; */
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  }
  
.homestyle {
	margin: 0 auto;
	display:inline-block;
	float: center;
	padding: 10px;
  }
.homestyle a:hover{
red;
}
hr{
color:red;
}
h5 {
font-size:0px;
}

.pointer{
 cursor: pointer;
 }

.footer {
  display:inline-block;
  font-size: 13px;
  width:100%;
  border-top:1px solid #000;
  margin-top:10px;
  padding-top:10px;
  text-align: center;
}