body {
	height: 3000px;
	background-color:#191d26;
	margin: 0 0;

}

@media (min-width: 698px) and (max-width: 1000px) {
  #project {
    top:15%;
  }
}

@media (max-width: 697px) {
  #project {
    top:17%;
  }
}

#update {
	display:none;
	padding-bottom:10px;
}

img{
	height:900px;
	z-index: 1;
}
#container{
	margin-top:0px;
	width:100%;
	height:1300px;
	top:0px;
  left:0px;
	position:fixed;
	z-index:2;
	
}
.tile{
	position: absolute;
   top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}

/*#navcontainer{
	position: fixed;
	top: 0px;
	left: 20px;
	z-index:6;
}*/
#navcontainer ul
{
padding-top:3px;
text-transform: capitalize;
top:0;
left:0;
right:0;
margin:auto;
list-style-type: none;
text-align:center;
position:fixed;
z-index: 6;
}

#navcontainer ul li { display: inline; 
}

#navcontainer ul li a
{
text-decoration: none;
padding: 1em .5em;
color: white;
}

#navcontainer ul li a:hover{
color: #f6b3b3;
}

a:active{color:#FF0000;}

#title{
  color: rgba(67, 51, 48, 1);
   font-size:50px;
}

#map{
  font-size:25px;

}
#ack{
  font-size: 25px;
}
#project{
  height:900px;
  width:1000px;
  position: fixed;
      top: 12%;
      left: 10%;
     
}
#text{
  float:left;
   width:100%;
   padding:5px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
    color:white;
    font-size:14px;
   
}
/*#text{
  width:100px;
  height:900px;
  background-color:white;

}*/
/*
#eugene{
  margin-left:100px;
  padding-bottom:30px;
  position: center;
}
#eugene_text{
  width:500px;
  height:200px;
  float:left;
  font-size:19px;
  font-color:;
  background-color:rgba(221,221,221, .5);
  margin-right: 50px;
  margin-top: 50px;
}
#eugene_pic{
  float:right;
}

#eugene a:link{
text-decoration: none;

}
a {
    color:black;
}
#lucien{
  margin-left:60px;
  padding-bottom:30px;
}

/*#lucien_text{
  width:500px;
  height:500px;
  float:right;
}
#lucien a:link{
text-decoration: none;
}
#raphael{
  margin-left:60px;
  padding-bottom:30px;
}
#raphael_text{
  width:500px;
  height:500px;
  float:right;
}
#raphael a:link{
text-decoration: none;
}*/